// ---------- breakPoint ---------- //

$breakpoints: (
 'xs': 'screen and (max-width: 430px)',
 'sm': 'screen and (min-width: 431px) and (max-width: 575px)',
 'md': 'screen and (min-width: 576px) and (max-width: 959px)',
 'lg': 'screen and (min-width: 960px)',
 'xl': 'screen and (min-width: 1200px)',

 'sp': 'screen and (max-width: 767px)',
 'pc': 'screen and (min-width: 768px)',
) !default;

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}


/* media
-------------------------------- */
@include mq (sp) {
	.is_pc {
		display: none;
	}
}

@include mq (md) {
	.is_pc {
		display: none;
	}
}

@include mq (lg) {
	.is_sp {
		display: none;
	}
}